doctype html
html
    head(lang="en")
        meta(charset="UTF-8")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(content="telphone=no", name="format-detection")
        link(rel="stylesheet", href="../src/css/base.css")
        link(rel="stylesheet", href="../src/css/index.css")
        script(src="../src/js/flexible.js")
        style.
            html {
                height: 100%;
                background-color: #fff
            }
    body.fixed-header
        .trust-page.page-warper
            header
                a.left.back
                .title 登记托管申请
            section.trust-list
                .item
                    .box
                        .left 官方网站
                        input(placeholder="请输入组织机构代码")
                .item
                    .box
                        .left 企业名称
                        input(placeholder="请输入企业名称")
                .item
                    .box
                        .left 联系人
                        input(placeholder="请输入联系人名称")
                .item
                    .box
                        .left 联系电话
                        input(placeholder="请输入联系人手机号码")
                .item
                    .box.code
                        .left 验证码
                        span.right 刷新
                        img.right(src="../src/css/images/yzm.png")
                        input(placeholder="请输入验证码")
            section.question-btn
                div 申请
script(src="../src/js/jquery-3.1.0.min.js")
script(src="../src/module/common.js")

           