doctype html
html
    head(lang="en")
        meta(charset="UTF-8")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(content="telphone=no", name="format-detection")
        link(rel="stylesheet", href="../../src/css/base.css")
        link(rel="stylesheet", href="../../src/css/index.css")
        script(src="../../src/js/flexible.js")
    body.fixed-header
        .newsd-page
            header
                a.left.back
                .title 资讯正文
            section.news-detail
                .title iPhone7销售乐观 苹果股价创2016年以来新高iPhone7销售
                    span 2016-8-9
                .content
                    p 北京时间9月15日上午消息，苹果股价周三创下2016年以来新高，市值自4月份以来首次突破6000亿美元。投资者认为，新款iPhone的开售将推动iPhone销量的增长。
                    p 本周，美国各家运营商报告称，iPhone 7的初期销售强劲。与此同时，苹果的老对手三星正受困于Galaxy Note 7的召回事件。过去3个交易日，苹果股价上涨了10%。
                    p 苹果当前市值已接近6070亿美元，高于谷歌母公司Alphabet的5350亿美元，以及微软的4400亿美元。
            section.news-files
                .title 附件
                .box
                    .file 销售报表.doc
                    .file iPhone7简介.pdf 
    script(src="../../src/js/jquery-3.1.0.min.js")
    script(src="../../src/module/common.js")
    script(src="../../src/module/p/fixed/detail.js")
           