doctype html
html
    head(lang="en")
        meta(charset="UTF-8")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(content="telphone=no", name="format-detection")
        link(rel="stylesheet", href="./src/css/base.css")
        link(rel="stylesheet", href="./src/css/swiper-3.3.1.min.css")
        link(rel="stylesheet", href="./src/css/index.css")
        script(src="./src/js/flexible.js")
    body.fixed-header.ui-left-menu
        nav.top-left-menu
            img.logo(src="src/css/images/face.png")
            .title 花以小默
            ul.menu
                li
                    a.assets(data-href="p/assets/index.html") 资产中心
                li
                    a.setting(data-href="p/setting/q.html") 设置
                li
                    a.about(data-href="p/about/index.html") 关于我们
        .mask-left-menu
        .index-page.page-warper
            header
                a.right.more
                a.left.menu
                .title 聚集私募资本 发现企业价值
                .pop-menu
                    a.pop-item.tag(href="javascript:;") 企业挂牌申请
                    a.pop-item.user(href="javascript:;") 会员加入申请
                    a.pop-item.file(href="javascript:;") 登记托管申请
            section.swiper-container.index-swiper
                .swiper-wrapper
                    .swiper-slide
                        img(src="src/css/images/index-ad.jpg")
                    .swiper-slide
                        img(src="src/css/images/index-ad.jpg")
                    .swiper-slide
                        img(src="src/css/images/index-ad.jpg")
                .swiper-pagination
            section.index-menu.clearfix
                .index-menu-item.company.border-b 挂牌企业
                .index-menu-item.bond.border-b 私募债券
                .index-menu-item.fund.border-b 私募基金
                a.index-menu-item.news.border-b(href="./p/news/index.html") 中心公告
                .index-menu-item.member 会员机构
                .index-menu-item.live 直播路演
                a.index-menu-item.product 服务产品
                a.index-menu-item.collect(href="./p/collect/index.html") 我的收藏
            section
                a.index-channel(href="./p/fixed/index.html") 固定债务
                    span 更多
            section.index-bond-list
                .index-bond-item
                    .info
                        .title 广发环保债券
                        .income
                            .info-title 12%
                            .info-desc 预期年化
                        .time
                            .info-title 24个月
                            .info-desc 产品期限
                    .desc.ellipsis 理财期限，灵活领取，收益不浪费
                .index-bond-item
                    .info
                        .title 广发环保债券
                        .income
                            .info-title 12%
                            .info-desc 预期年化
                        .time
                            .info-title 24个月
                            .info-desc 产品期限
                    .desc.ellipsis 理财期限，灵活领取，收益不浪费
            footer 
                .company-name 江苏省金融办核准交易机构
                .company-tel 客服电话：0512-66969900
        script(src="./src/js/jquery-3.1.0.min.js")
        script(src="./src/js/swiper-3.3.1.jquery.min.js")
        script(src="./src/js/jquery.mmenu.min.js")
        script(src="./src/module/common.js")
        script(src="./src/module/index.js")