doctype html
html
    head(lang="en")
        meta(charset="UTF-8")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(content="telphone=no", name="format-detection")
        link(rel="stylesheet", href="../../src/css/base.css")
        link(rel="stylesheet", href="../../src/css/index.css")
        script(src="../../src/js/flexible.js")
    body.fixed-header
        .fixed-page
            header
                a.left.back
                .title 固收债券
            nav.fixed-nav.clearfix
                .nav-item.sel 默认排序
                .nav-item 起投金额
                .nav-item 投资期限
                .nav-item 预期年化
                .nav-bottom
            section.bond-list
                .bond-item
                    .title 广发环保债券
                        .ui-collect 收藏
                        .ui-state 募集期
                    .info
                        .info-list.clearfix
                            .info-item.borr
                                em.income 12%
                                b 预期年化
                            .info-item.borr
                                em 12%
                                b 投资期限
                            .info-item
                                em 12%
                                b 预期年化
                        .info-desc 进阶理财，向稳健高收益进发；10元起购，0申赎费，每月10-15日可赎，T+1到账
                .bond-item
                    .title 广发环保债券
                        .ui-collect.sel 收藏
                        .ui-state 募集期
                    .info
                        .info-list.clearfix
                            .info-item.borr
                                em.income 12%
                                b 预期年化
                            .info-item.borr
                                em 12%
                                b 投资期限
                            .info-item
                                em 12%
                                b 预期年化
                        .info-desc 进阶理财，向稳健高收益进发；10元起购，0申赎费，每月10-15日可赎，T+1到账
script#bondItemTpl(type="text/jstmp").
    <@
    for (var i = 0, len = list.length; i < len ; i++) {
        var item = list[i];
    @>
        <div class="bond-item" bondId="<@=item.ProductId@>">
            <div class="title"><@=item.ProductName@>
            <div class="ui-collect">收藏</div>
            <div class="ui-state"><@=item.Status@></div>
            </div>
            <div class="info">
            <div class="info-list clearfix">
                <div class="info-item borr"><em class="income">12%</em><b>预期年化</b></div>
                <div class="info-item borr"><em>12%</em><b>投资期限</b></div>
                <div class="info-item"><em>12%</em><b>预期年化</b></div>
            </div>
            <div class="info-desc"><@=item.Introduction?item.Introduction.ZXNR||'':''@></div>
            </div>
        </div>
    <@}@>
script(src="../../src/js/jquery-3.1.0.min.js")
script(src="../../src/module/common.js")
script(src="../../src/module/p/fixed/index.js")
           