$fz = 75
$x(h)
    unit((h/$fz) ,'rem')
$w3c(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -o-{prop} args
    {prop} args
$flex()
    display -webkit-box
    display flex
$flex1()
    -webkit-box-flex 1
    flex 1
$hm(h)
    height: $x(h)
    line-height: $x(h)
$s(w, h)
    width: $x(w)
    height: $x(h)