@import "common.styl"
html
    height: 100%;
    background-color: #fff
body
    font-family: "PingFang", "Microsoft YaHei", "sans-serif";
    background-color: #f2f2f2
.left
    float: left
.right
    float: right
.orange
    color #f60
.show
    display: block !important;
.hide
    display: none !important;
.vhide
    visibility: hidden !important;
.ellipsis
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
.ui-toast
    left: $x(45);
    right: $x(45);
    bottom: 20%
    position: fixed;
    text-align: center
    font-size: $x(28)
    line-height: $x(60)
    position: fixed;
    z-index: 99999
    .txt
        display: inline-block
        padding: $x(10) $x(50)
        color: #fff
        background-color: #444;
        margin: 0 auto
        border-radius: $x(50)
label.ui-radio
    position: relative;
    display: block;
    padding-left: $x(65)
    cursor: pointer;
    vertical-align: middle;
    div
        position: relative
    div:after
        position: absolute;
        left: -1* $x(29+18);
        width: $x(30)
        top 0
        bottom: 0
        content: '';
        background: url(images/radio.png) no-repeat center center
        background-size: 100% auto
        z-index: 1
    input 
        position: absolute;
        display: none;
        &:checked + div
            &:after
                background: url(images/radio-ck.png) no-repeat center center
                background-size: 100% auto
.ui-collect
    font-size: $x(28)
    padding-left: $x(24+29)
    background: url(images/heart2.png) no-repeat $x(12) center
    background-size: $x(29) $x(26)
    color #a7a7a7
    margin-left: $x(14)
    &.sel
        background: url(images/heart2-h.png) no-repeat $x(12) center
        background-size: $x(29) $x(26)
.ui-important-btn
    height: $x(76)
    line-height: $x(76)
    color: #fff
    font-size: $x(30)
    background-color: rgb(25,166,219)
    border-radius: $x(5)
    text-align: center
    &.disable
        background-color: rgb(153, 153, 153);
.ui-state
    font-size: $x(24)
    border-radius: $x(19)
    background-color: #1bc854;
    height: $x(40)
    line-height: $x(40)
    text-align: center
    color: white;
    margin-top: $x(12)
    padding: 0 $x(20)
    &.done
        background-color: rgb(153,153,153)
.ui-left-menu
    .mask-left-menu
        opacity: 0
        position: fixed
        right: 0
        left: $x(490)
        top: 0
        bottom: 0
        z-index: 2
        display: none;
    .top-left-menu
        color: #fff
        width $x(490)
        position: fixed
        left: 0
        top 0
        bottom: 0
        background-image: -moz-linear-gradient( 90deg, rgb(24,210,219) 0%, rgb(25,166,219) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(24,210,219) 0%, rgb(25,166,219) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(24,210,219) 0%, rgb(25,166,219) 100%);
        &:after
            content: ""
            bottom: 0
            left: 0
            width: 100%
            height: $x(440)
            background:  url(images/left-memu.jpg) no-repeat center center
            position: absolute
            background-size: 100%
            z-index: -1;
    .page-warper
        -webkit-transition: -webkit-transform .4s ease;
        transition: -webkit-transform .4s ease;
        transition: transform .4s ease;
        transition: transform .4s ease,-webkit-transform .4s ease;
    &.left-menu-open
        .page-warper
            -webkit-transform: translate($x(490),0);
            -ms-transform: translate($x(490),0);
            transform: translate($x(490),0);
            -webkit-transform: translate3d($x(490),0,0);
            -webkit-box-shadow: 1px 0 $x(23) #000; 
            -moz-box-shadow: 1px 0 $x(23) #000;
            box-shadow: 1px 0 $x(23) #000;
        .mask-left-menu
            display: block
.ui-logo
    width: $x(188)
    height: $x(188)
    border-radius: 50%
    display: block
    margin: 0 auto
.top-left-menu
    .ui-logo
        margin-top: $x(90)
    .title
        font-size: $x(33)
        margin-top: $x(8)
        height: $x(40)
        line-height: $x(40)
        text-align: center
        margin-bottom: $x(50)
    li a
        display: block;
        color: #fff
        font-size: $x(33)
        height: $x(112)
        line-height: $x(112)
        padding-left: $x(120)
        position: relative
        &:after
            content: ''
            position: absolute
            width: $x(14)
            background: url(images/left-more.png) no-repeat center center
            background-size: 100% auto
            top: 0
            bottom: 0
            right: $x(56)
        &.assets
            background:  url(images/assets-icon.png) no-repeat $x(37) center
            background-size: $x(60) $x(60)
        &.setting
            background:  url(images/setting-icon.png) no-repeat $x(37) center
            background-size: $x(60) $x(60)
        &.about
            background:  url(images/about-icon.png) no-repeat $x(37) center
            background-size: $x(60) $x(60)
        &:active, &.active
            background-color: rgb(12,158,204)
.num-component
    height: $x(80)
    line-height: $x(80)
    border: 1px solid #e3e3e3;
    padding: 0 $x(75)
    position: relative
    .add,.del
        width: $x(75)
        text-align: center
        color #f60
        height: 100%
        box-sizing: border-box
        position: absolute
        top 0
        bottom: 0
        &:active
            background-color: rgb(242,242,242)
    .add
        right 0
        border-left: 1px solid #e3e3e3;
        background: url(images/add.png) no-repeat center center
        background-size: $x(40) $x(41)
    .del
        left 0
        border-right: 1px solid #e3e3e3;
        background: url(images/del.png) no-repeat center center
        background-size: $x(40) $x(3)
    input
        width: 100%
        height: 100%
        text-align: center
        color: #f60
        font-size: $x(36)
.fixed-header
    .page-warper
        padding-top: $x(88)
        position: relative
        background-color: #f2f2f2
        &.fixed-page
            padding-top: $x(88 + 15 + 90)
    header
        position: fixed;
        top 0
        left 0
        width: 100%
        z-index: 100
header
    height $x(88)
    line-height: $x(88)
    background-color: #19a6db
    color: #fff
    text-align: center;
    .title
        font-size: $x(38)
        text-align: center
    .left,.right
        position: absolute
        width: $x(80)
        height: $x(80)
        top $x(4)
        &:active
            background-color: #0b94c7
    .left
        left: $x(25)
    .right
        right: $x(25)
    .back
        background: url(images/back2.png) no-repeat center center
        background-size: $x(23) $x(42)
    .share
        background: url(images/share.png) no-repeat center center
        background-size: $x(42) $x(42)
    .more
        background: url(images/more.png) no-repeat center center
        background-size: $x(33) $x(33)
    .menu
        background: url(images/menu.png) no-repeat center center
        background-size: $x(46) $x(39)
    .pop-menu
        width: $x(278)
        color: #fff
        font-size: $x(28)
        font-family: "PingFang";
        line-height: $x(75);
        background-color: #19a6db
        top $x(115)
        right $x(15)
        position: absolute
        display: none;
        &:before
            width: 0;
            height: 0;
            border-left: $x(10) solid transparent;
            border-right: $x(10) solid transparent;
            border-bottom: $x(16) solid #19a6db;
            display: block
            content: ""
            position: absolute
            top -1*$x(10)
            right $x(40)
        .tag
            background: url(images/tag.png) no-repeat $x(35) center
            background-size: $x(29) $x(29)
        .user
            background: url(images/user.png) no-repeat $x(35) center
            background-size: $x(30) $x(30)
        .file
            background: url(images/file.png) no-repeat $x(40) center
            background-size: $x(21) $x(28)
    .pop-item
        height: $x(75)
        border-bottom: 1px solid #0e95c8;
        display: block
        color: #fff
        padding: 0 $x(30) 0 $x(75)
        &:active
            background-color: #0b94c7
        &:nth-child(3)
            border-bottom: none
.index-swiper
    height: $x(330)
    margin-bottom: $x(15)
    .swiper-slide img
        display: block
        max-width: 100%
        margin: 0 auto
    .swiper-pagination-bullet
        width: $x(10)
        height: $x(10)
.index-menu
    background-color: #fff
    margin-bottom: $x(15)
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    .index-menu-item
        float: left
        width: 25%
        box-sizing: border-box;
        height: $x(200)
        font-size: $x(28)
        position: relative
        text-align: center
        line-height: $x(260)
        color: #4e4e4e
        border-right: 1px solid #e3e3e3;
        &:nth-child(4n+4)
            border-right: none
        &.border-b
            border-bottom: 1px solid #e3e3e3;
        &:before
            position: absolute
            top: $x(50);
            height: $x(65);
            left: 0
            width: 100%
            content: ""
        &.company:before
            background: url(images/company.png) no-repeat center center
            background-size: $x(41) $x(38)
        &.bond:before
            background: url(images/bond.png) no-repeat center center
            background-size: $x(63) $x(37)
        &.fund:before
            background: url(images/fund.png) no-repeat center center
            background-size: $x(36) $x(57)
        &.news:before
            background: url(images/news.png) no-repeat center center
            background-size: $x(58) $x(41)
        &.member:before
            background: url(images/member.png) no-repeat center center
            background-size: $x(56) $x(40)
        &.live:before
            background: url(images/live.png) no-repeat center center
            background-size: $x(44) $x(31)
        &.product:before
            background: url(images/product.png) no-repeat center center
            background-size: $x(40) $x(35)
        &.collect:before
            background: url(images/collect.png) no-repeat center center
            background-size: $x(41) $x(38)
.index-channel
    background-color: #fff;
    color: #333
    font-size: $x(36)
    height: $x(93)
    line-height: $x(93)
    margin-bottom: $x(15)
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    padding 0 $x(30) 0 $x(40)
    display: block
    span
        float: right
        padding-right: $x(30)
        background: url(images/back.png) no-repeat right center
        background-size: $x(16) $x(30)
.index-bond-list
    margin-bottom: $x(15)
.index-bond-item
    margin-bottom: $x(15)
.index-bond-item
    color: #333
    background-color: #fff;
    padding 0 $x(30) 0 $x(40)
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    .info
        height: $x(100)
        padding: $x(35) 0
    .info-desc
        height: $x(35)
        line-height: $x(35)
        font-size: $x(30)
    .info-title
        height: $x(65)
        font-size: $x(28)
        font-family: "PingFang SC";
    .title
        line-height: $x(96)
        font-size: $x(32)
        border-right: 1px solid #e3e3e3;
        width: $x(240)
        box-sizing: border-box
        float: left
    .income
        float: left
        width: $x(240)
        text-align: center
        .info-title
            font-size: $x(46)
            color: #f60
            line-height: $x(50)
    .time
        margin-left: $x(480)
        .info-title
            text-indent: $x(6)
            line-height: $x(70)
    .desc
        height: $x(78)
        line-height: $x(78)
        color: #b4b4b4
        font-size: $x(28)
        border-top: 1px solid #e3e3e3;
footer
    height: $x(120)
    background-color: #19a6db
    font-size: $x(24)
    color: #fff
    text-align: center
    padding-top: $x(40)
    div
        height: $x(46)
        line-height: $x(46)
    .company-tel
        display: inline-block
        background: url(images/tel.png) no-repeat left $x(5)
        background-size: $x(31) $x(31)
        padding-left: $x(41)
.fixed-nav
    height: $x(90)
    line-height: $x(90)
    font-size: $x(30)
    color: #666
    text-align: center
    background-color: #f9f9f9
    margin-bottom: $x(15)
    position: relative
    background-color: #fff
    position: fixed;
    top: $x(88)
    left: 0
    right: 0
    z-index: 2
    .nav-item
        width: 25%
        float: left
        .sort
            display: inline-block
            width: $x(13)
            height: $x(16)
            background-color: red
            visibility: hidden
            background: url(images/sort-down.png) no-repeat center center
            background-size: $x(13) $x(16)
        &.sel
            color: #19a6db;
            .sort
                visibility: visible
        &.sel.up .sort
            background-image: url(images/sort-up.png)
    .nav-bottom
        position: absolute
        left 0
        bottom: 0
        width: 25%
        height: 0
        border-top: 2px solid #19a6db;
        transition: left .3s;
        -moz-transition: left .3s;
        -webkit-transition: left .3s;
        -o-transition: left .3s;
.bond-item
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    background-color: #fff
    margin-bottom: $x(15)
    .title
        height: $x(64)
        line-height: $x(64)
        padding: $x(26) $x(47) 0 $x(47)
        font-size: $x(28)
        color: rgb(51, 51, 51);
        border-bottom: 1px solid #e3e3e3;
        > div
            float: right
    .info-list
        padding: $x(26) $x(47) 0 $x(47)
        color #bdbdbd
    .info-item
        float: left
        width: 33%
        position: relative
        text-align: center
        &.borr:after
            position: absolute
            right: 0
            height: $x(70)
            top $x(24)
            width: 0
            border-right: 1px solid #e3e3e3;
            content: ""
        em
            display: block
            font-size: $x(28)
            color: rgb(102, 102, 102);
            height: $x(52)
            line-height: $x(60)
            &.income
                color: #f60
                font-size: $x(40)
                line-height: $x(52)
        b
            display: block
            font-size: $x(27)
            margin-top: $x(16)
    .info-desc
        margin: $x(41) $x(47) $x(45) $x(47)
        background-color: #f2f2f2
        padding: $x(25) $x(45) $x(25) $x(30)
        color: #999
        line-height: $x(40)
        font-size: $x(27)
.assets-info
    background-image: -moz-linear-gradient( 90deg, rgb(0,96,191) 0%, rgb(25,166,219) 99%);
    background-image: -webkit-linear-gradient( 90deg, rgb(0,96,191) 0%, rgb(25,166,219) 99%);
    background-image: -ms-linear-gradient( 90deg, rgb(0,96,191) 0%, rgb(25,166,219) 99%);
    height: $x(483)
    padding: 0 $x(48)
    position: relative
    color: #fff
    .l1
        height: $x(120)
        line-height: $x(120)
        font-size: $x(30)
    .l2
        padding: 0 $x(35)
        font-size: $x(32)
        height $x(56)
        line-height: $x(56)
    .l3
        font-size: $x(28)
        height $x(110)
        line-height: $x(110)
    .l4
        font-size: $x(28)
        height $x(30)
        line-height: $x(30)
    .assets-income
        background: rgba(255, 255, 255, 0.102)
        height: $x(118)
        line-height: $x(118)
        position: absolute
        bottom: 0
        right: 0
        left: 0
        padding: 0 $x(45)
        font-size: $x(29)
    &:after
        content: ""
        height: $x(95)
        border-right: 2px solid rgba(255, 255, 255, 0.502);
        position: absolute
        top $x(99)
        left: 50%
.assets-btns
    text-align: center
    font-size: $x(35)
    color: rgb(51, 51, 51);
    padding: $x(22) 0
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    letter-spacing: $x(4)
    background-color: #fff
    span
        display: block;
        float: left;
        box-sizing: border-box;
        width: 50%;
        height: $x(72)
        line-height: $x(72)
        padding-left: $x(65)
    .recharge
        border-right: 1px solid rgb(204, 204, 204);
        background: url(images/recharge.png) no-repeat $x(108) center
        background-size: $x(59) $x(59)
    .cash
        background: url(images/cash.png) no-repeat $x(108) center
        background-size: $x(59) $x(59)
.assets-link
    color: rgb(51, 51, 51);
    .title
        height: $x(80)
        line-height: $x(80)
        background-color: rgb(242, 242, 242)
        padding: $x(20) 0 0 $x(45)
        font-size: $x(32)
    .list
        padding: 0 $x(45)
        border-bottom: 1px solid #e3e3e3;
        border-top: 1px solid #e3e3e3;
        background-color: #fff
        &:last-child
            margin-bottom: $x(100)
    .item
        display: block
        height: $x(105)
        line-height: $x(105)
        font-size: $x(28)
        border-bottom: 1px solid #e3e3e3;
        background: url(images/item-right.png) no-repeat right center
        background-size: $x(17) $x(27)
        &:last-child
            border-bottom none
.bond-info
    text-align: center
    background-color: #fff
    padding: $x(34) $x(45) 0 $x(45)
    .title
        font-size: $x(32)
        color: rgb(51, 51, 51);
        position: relative
    .ui-collect
        position: absolute
        right: 0
        top 0
    .ui-state
        position: absolute
        right: 0
        top 0
    .income
        font-size: $x(70)
        color: rgb(255, 102, 0);
        height: $x(100)
        line-height: $x(120)
        em 
            font-size: $x(40)
    .text
        font-size: $x(26)
        color: rgb(167, 167, 167);
        height: $x(60)
        line-height: $x(60)
        position: relative
        .bond-state
            position: absolute
            right 0
    .process
        height: $x(7)
        background-color: rgb(159, 224, 249);
        border-radius: $x(3)
        position: relative
        margin-top: $x(22)
        .done
            position: absolute
            left 0
            top 0
            height: $x(7)
            background-color: rgb(25, 166, 219);
            border-radius: $x(3)
        .info
            border: 1px solid rgb(204, 204, 204);
            background-color: rgb(255, 255, 255);
            position: absolute
            top -1*$x(46)
            padding: 0 $x(10)
            font-size: $x(21)
            color: rgb(204, 204, 204);
            height: $x(34)
            line-height: $x(34)
            border-radius: $x(5)
            margin-left: -1 * $x(55)
            &:after
                content: ""
                position: absolute
                width: $x(11)
                height $x(8)
                left: 50%
                margin-left: -1* $x(5)
                bottom: -1* $x(7)
                background: url(images/arraw.png) no-repeat right center
                background-size: 100%
    .desc
        font-size: $x(27)
        color: rgb(167, 167, 167);
        height: $x(45)
        line-height: $x(45)
        padding: $x(23) 0 $x(60) 0
        em
            color: #f60
            margin: 0 $x(4)
        div
            float: left;
            width: 50%
            box-sizing: border-box
            &:first-child
                border-right:  1px solid #e3e3e3;
.bond-totle
    height: $x(149)
    padding: $x(40) $x(45) 0 $x(45)
    color: rgb(153, 153, 153);
    div
        font-size: $x(27)
    .orange
        height: $x(80)
        line-height: $x(90)
.bond-text
    background-color: #fff
    padding: $x(25) $x(45) $x(58) $x(45)
    font-size: $x(32)
    color: rgb(167, 167, 167);
    div
        height: $x(85)
        line-height: $x(85)
    .right
        color rgb(52,52,52)
.bond-invest
    background-color: #fff
    padding: 0 $x(45) $x(60) $x(45)
    margin-bottom: $x(15)
    border-bottom: 1px solid #e3e3e3;
    .num-component
        margin-top: $x(32)
    .title
        font-size: $x(32)
        color: rgb(51, 51, 51);
        font-weight: bold;
    .info
        height: $x(86)
        line-height: $x(80)
        font-size: $x(28)
        color: rgb(167, 167, 167);
    .desc
        font-size: $x(28)
        color: rgb(167, 167, 167);
        li
            height: $x(48)
            line-height: $x(48)
            list-style-type disc
            margin-left: $x(25)
        em
            color: rgb(51, 51, 51)
    .ui-important-btn
        margin-top: $x(18)
.bond-detail
    background-color: #fff
    padding-top: $x(24)
    .tab
        height: $x(72)
        line-height: $x(72)
        font-size: $x(32)
        color: rgb(0, 0, 0);
        text-align: center
        padding-bottom: $x(6)
        div
            float: left
            width: 50%
            border-bottom: 1px solid #e3e3e3;
            box-sizing: border-box
        .sel
            color: #19a6db
            border-bottom: $x(4) solid #19a6db;
    .content
        height: $x(300)
        text-align: left
        font-size: $x(32)
        display: none
.news-list
    background-color: #fff
.news-item
    text-align: left;
    padding: 0 $x(45)
    display: block;
    &:active
        background-color: rgb(242, 242, 242)
    .box
        padding: $x(33) 0
        border-bottom: 1px solid #e3e3e3;
        height: $x(114)
        background: url(images/news-right.png) no-repeat right center
        background-size: $x(18) $x(35)
    .title
        font-size: $x(32)
        color: rgb(51, 51, 51);
        height: $x(60)
        line-height: $x(60)
    .time
        height: $x(60)
        line-height: $x(60)
        font-size: $x(28)
        color: rgb(180, 180, 180);
        .level
            display: inline-block
            background-color: rgb(243, 18, 18);
            border-radius: $x(3);
            height: $x(33)
            line-height: $x(33)
            color: #fff
            position: relative;
            top: -1 * $x(4)
            font-size: $x(20)
            margin-left: $x(18)
            padding: 0 $x(10)
.news-detail
    background-color: #fff
    padding: $x(45) $x(45) $x(45+35) $x(45)
    margin-bottom: $x(15)
    .title
        font-size: $x(32)
        span
            font-size: $x(26)
            color: rgb(180, 180, 180);
            margin-left: $x(15)
    .content
        font-size: $x(26)
        color: rgb(78, 78, 78);
        line-height: $x(45);
        p
            margin-top: $x(45)
.news-files
    background-color: #fff
    padding: 0 $x(45)
    .title
        height: $x(100)
        line-height: $x(100)
        font-size: $x(26)
        color: rgb(78, 78, 78);
        border-bottom: 1px solid #e3e3e3;
    .file
        font-size: $x(26)
        color: rgb(25, 166, 219);
        line-height: $x(100)
        height: $x(100)
        display: inline-block;
        padding: 0 $x(25)
    .box
        margin-left: -1*$x(25)
.collect-tab
    height: $x(93)
    line-height: $x(93)
    margin-bottom: $x(15)
    border-bottom: 1px solid #e3e3e3;
    font-size: $x(35)
    color: rgb(51, 51, 51);
    background-color: #fff
    text-align: center
.page-warper.question-page
    background-color: #fff
.question-item
    padding: $x(30) $x(45) $x(20) $x(45)
    line-height: $x(63)
    border-bottom: 1px solid #e3e3e3;
    .title
        font-size $x(31)
        font-family: "Adobe Heiti Std";
        color: rgb(51, 51, 51);
    .item
        font-size: $x(26)
        color: rgb(78, 78, 78);
.question-btn
    padding: $x(46) $x(45) $x(92) $x(45)
    background-color: #fff
.about-logo
    background: url(images/logo.png) no-repeat center $x(40)
    background-size: $x(246) $x(94)
    text-align: center
    height: $x(252)
    border-bottom: 1px solid #e3e3e3;
    div
        padding-top: $x(170)
        font-size: $x(28)
        color: rgb(51, 51, 51);
.about-info
    background-color: #fff
    font-size: $x(30);
    margin-bottom: $x(15)
    .item
        padding: 0 $x(45)
        border-bottom: 1px solid #e3e3e3;
        color: rgb(167, 167, 167);
        height: $x(105)
        line-height: $x(105)
        .right
            font-family: "Adobe Heiti Std";
            color: rgb(51, 51, 51);
            float: right
.page-warper.trust-page
    background-color: #fff
    .question-btn
        padding-top: $x(93)
        padding-bottom: $x(60)
.trust-list
    font-size: $x(28)
    background-color: #fff
    .content.balance
        color: rgb(171,171,171)
    .content.cards
        padding-left: $x(108)
        background: url(images/cards.png) no-repeat left center
        background-size: $x(83) $x(83)
    .content.link
        position: relative
        &:after
            content: ""
            position: absolute
            right: 0
            width: $x(17)
            top 0
            bottom: 0
            background: url(images/item-right.png) no-repeat center center
            background-size: $x(17) $x(27)
    .item
        height: $x(105)
        line-height: $x(105)
        border-bottom: 1px solid #e3e3e3;
    .box
        padding: 0 $x(45)
        height: 100%
    .content
        margin-left: $x(214)
        height: 100%
    .left
        width: $x(214)
        color: rgb(51, 51, 51);
    input
        display: block;
        height: 100%
        width: 100%
        font-size: $x(28)
    .code
        img
            width: $x(140)
            height: $x(70)
            margin-top: $x(17)
            margin-right: $x(22)
        span
            color rgb(25, 166, 219);
        .content
            margin-left: $x(214)
            margin-right: $x(220)
            height: 100%
    .msg-code
        .btn
            color: rgb(254, 255, 255);
            border-radius: 3px;
            background-color: #19a6db;
            width: $x(212);
            height: $x(71)
            line-height: $x(71)
            margin-top: $x(34/2)
            text-align: center
            box-sizing: border-box
            border: 1px solid #e3e3e3;
            &.disabled
                background-color:rgb(138, 219, 249);
        .content
            margin-left: $x(214)
            margin-right: $x(220)
            height: 100%
.fixed-confirm
    .confirm-info
        .text
            margin-top: $x(22)
        .income
            height: $x(70)
            line-height: $x(70)
            padding-bottom: $x(42)
            border-bottom: 1px solid #e3e3e3;
    .bond-text
        font-size: $x(34)
        padding: $x(25) $x(45) $x(25) $x(45)
        margin-bottom: $x(15)
        div
            height: $x(80)
            line-height: $x(80)
    .question-btn
        padding-top: $x(92)
.setting-page
    .setting-logo
        padding: $x(38) 0 $x(24) 0
        background-color: #fff
    .about-info .item
        padding-right: $x(94)
        position: relative
        &.link:after
            content: ""
            position: absolute
            right: $x(45)
            width: $x(17)
            top 0
            bottom: 0
            background: url(images/item-right.png) no-repeat center center
            background-size: $x(17) $x(27)
    .question-btn
        padding-top: $x(60)
.assets-query
    background-color: #fff
    padding: $x(20) $x(45)
    margin-bottom: $x(15)
    font-size: $x(30)
    border-bottom: 1px solid #e3e3e3;
    .params
        height: $x(92)
        line-height:  $x(92)
    input
        font-size: $x(30)
    .title
        width $x(140)
        text-align:justify
        text-align-last:justify;
        color: #a7a7a7;
        float: left
    .content
        margin-left: $x(160)
        height: 100%
        color: rgb(51, 51, 51)
        .radio-warper
            float left
            width 50%
    .params-name input
        height: $x(67)
        width: 100%
        border: 1px solid #e3e3e3;
        border-radius: $x(5)
        display: block
        top: $x(14)
        position: relative;
        text-indent: $x(20)
    .params-time
        .content div
            margin-left: $x(220)
            margin-right: $x(220)
            text-align: center
        input 
            height: $x(67)
            width: $x(220)
            text-align: center
            box-sizing: border-box
            border: 1px solid #e3e3e3;
            border-radius: $x(5)
            display: block
            top: $x(14)
            position: relative;
    .params-btn
        padding: $x(30) 0 $x(15) 0
        background-color: #fff
.assets-result
    color: #a7a7a7;
    font-size: $x(30)
    .item
        margin-bottom: $x(15)
        background-color: #fff
        padding: 0 $x(45)
        padding-bottom: $x(16)
        border-top: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
    .title
        color: rgb(51, 51, 51)
        height: $x(96)
        line-height: $x(96)
        font-size: $x(26)
    .income
        height: $x(32)
        line-height: $x(32)
        em
            color: #f60
    .time
        height: $x(64)
        line-height: $x(64)
.assetsrec-page
    .question-btn
        padding-top: $x(60)
    .trust-list
        font-size: $x(30)