html {
  height: 100%;
  background-color: #fff;
}
body {
  font-family: "PingFang", "Microsoft YaHei", "sans-serif";
  background-color: #f2f2f2;
}
.left {
  float: left;
}
.right {
  float: right;
}
.orange {
  color: #f60;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
.vhide {
  visibility: hidden !important;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui-toast {
  left: 0.6rem;
  right: 0.6rem;
  bottom: 20%;
  position: fixed;
  text-align: center;
  font-size: 0.373333333333333rem;
  line-height: 0.8rem;
  position: fixed;
  z-index: 99999;
}
.ui-toast .txt {
  display: inline-block;
  padding: 0.133333333333333rem 0.666666666666667rem;
  color: #fff;
  background-color: #444;
  margin: 0 auto;
  border-radius: 0.666666666666667rem;
}
label.ui-radio {
  position: relative;
  display: block;
  padding-left: 0.866666666666667rem;
  cursor: pointer;
  vertical-align: middle;
}
label.ui-radio div {
  position: relative;
}
label.ui-radio div:after {
  position: absolute;
  left: -0.626666666666667rem;
  width: 0.4rem;
  top: 0;
  bottom: 0;
  content: '';
  background: url("images/radio.png") no-repeat center center;
  background-size: 100% auto;
  z-index: 1;
}
label.ui-radio input {
  position: absolute;
  display: none;
}
label.ui-radio input:checked + div:after {
  background: url("images/radio-ck.png") no-repeat center center;
  background-size: 100% auto;
}
.ui-collect {
  font-size: 0.373333333333333rem;
  padding-left: 0.706666666666667rem;
  background: url("images/heart2.png") no-repeat 0.16rem center;
  background-size: 0.386666666666667rem 0.346666666666667rem;
  color: #a7a7a7;
  margin-left: 0.186666666666667rem;
}
.ui-collect.sel {
  background: url("images/heart2-h.png") no-repeat 0.16rem center;
  background-size: 0.386666666666667rem 0.346666666666667rem;
}
.ui-important-btn {
  height: 1.013333333333333rem;
  line-height: 1.013333333333333rem;
  color: #fff;
  font-size: 0.4rem;
  background-color: #19a6db;
  border-radius: 0.066666666666667rem;
  text-align: center;
}
.ui-important-btn.disable {
  background-color: #999;
}
.ui-state {
  font-size: 0.32rem;
  border-radius: 0.253333333333333rem;
  background-color: #1bc854;
  height: 0.533333333333333rem;
  line-height: 0.533333333333333rem;
  text-align: center;
  color: #fff;
  margin-top: 0.16rem;
  padding: 0 0.266666666666667rem;
}
.ui-state.done {
  background-color: #999;
}
.ui-left-menu .mask-left-menu {
  opacity: 0;
  position: fixed;
  right: 0;
  left: 6.533333333333333rem;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: none;
}
.ui-left-menu .top-left-menu {
  color: #fff;
  width: 6.533333333333333rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-image: -moz-linear-gradient(90deg, #18d2db 0%, #19a6db 100%);
  background-image: -webkit-linear-gradient(90deg, #18d2db 0%, #19a6db 100%);
  background-image: -ms-linear-gradient(90deg, #18d2db 0%, #19a6db 100%);
}
.ui-left-menu .top-left-menu:after {
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5.866666666666666rem;
  background: url("images/left-memu.jpg") no-repeat center center;
  position: absolute;
  background-size: 100%;
  z-index: -1;
}
.ui-left-menu .page-warper {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
.ui-left-menu.left-menu-open .page-warper {
  -webkit-transform: translate(6.533333333333333rem, 0);
  -ms-transform: translate(6.533333333333333rem, 0);
  transform: translate(6.533333333333333rem, 0);
  -webkit-transform: translate3d(6.533333333333333rem, 0, 0);
  -webkit-box-shadow: 1px 0 0.306666666666667rem #000;
  -moz-box-shadow: 1px 0 0.306666666666667rem #000;
  box-shadow: 1px 0 0.306666666666667rem #000;
}
.ui-left-menu.left-menu-open .mask-left-menu {
  display: block;
}
.ui-logo {
  width: 2.506666666666667rem;
  height: 2.506666666666667rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.top-left-menu .ui-logo {
  margin-top: 1.2rem;
}
.top-left-menu .title {
  font-size: 0.44rem;
  margin-top: 0.106666666666667rem;
  height: 0.533333333333333rem;
  line-height: 0.533333333333333rem;
  text-align: center;
  margin-bottom: 0.666666666666667rem;
}
.top-left-menu li a {
  display: block;
  color: #fff;
  font-size: 0.44rem;
  height: 1.493333333333333rem;
  line-height: 1.493333333333333rem;
  padding-left: 1.6rem;
  position: relative;
}
.top-left-menu li a:after {
  content: '';
  position: absolute;
  width: 0.186666666666667rem;
  background: url("images/left-more.png") no-repeat center center;
  background-size: 100% auto;
  top: 0;
  bottom: 0;
  right: 0.746666666666667rem;
}
.top-left-menu li a.assets {
  background: url("images/assets-icon.png") no-repeat 0.493333333333333rem center;
  background-size: 0.8rem 0.8rem;
}
.top-left-menu li a.setting {
  background: url("images/setting-icon.png") no-repeat 0.493333333333333rem center;
  background-size: 0.8rem 0.8rem;
}
.top-left-menu li a.about {
  background: url("images/about-icon.png") no-repeat 0.493333333333333rem center;
  background-size: 0.8rem 0.8rem;
}
.top-left-menu li a:active,
.top-left-menu li a.active {
  background-color: #0c9ecc;
}
.num-component {
  height: 1.066666666666667rem;
  line-height: 1.066666666666667rem;
  border: 1px solid #e3e3e3;
  padding: 0 1rem;
  position: relative;
}
.num-component .add,
.num-component .del {
  width: 1rem;
  text-align: center;
  color: #f60;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
}
.num-component .add:active,
.num-component .del:active {
  background-color: #f2f2f2;
}
.num-component .add {
  right: 0;
  border-left: 1px solid #e3e3e3;
  background: url("images/add.png") no-repeat center center;
  background-size: 0.533333333333333rem 0.546666666666667rem;
}
.num-component .del {
  left: 0;
  border-right: 1px solid #e3e3e3;
  background: url("images/del.png") no-repeat center center;
  background-size: 0.533333333333333rem 0.04rem;
}
.num-component input {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #f60;
  font-size: 0.48rem;
}
.fixed-header .page-warper {
  padding-top: 1.173333333333333rem;
  position: relative;
  background-color: #f2f2f2;
}
.fixed-header .page-warper.fixed-page {
  padding-top: 2.573333333333333rem;
}
.fixed-header header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
header {
  height: 1.173333333333333rem;
  line-height: 1.173333333333333rem;
  background-color: #19a6db;
  color: #fff;
  text-align: center;
}
header .title {
  font-size: 0.506666666666667rem;
  text-align: center;
}
header .left,
header .right {
  position: absolute;
  width: 1.066666666666667rem;
  height: 1.066666666666667rem;
  top: 0.053333333333333rem;
}
header .left:active,
header .right:active {
  background-color: #0b94c7;
}
header .left {
  left: 0.333333333333333rem;
}
header .right {
  right: 0.333333333333333rem;
}
header .back {
  background: url("images/back2.png") no-repeat center center;
  background-size: 0.306666666666667rem 0.56rem;
}
header .share {
  background: url("images/share.png") no-repeat center center;
  background-size: 0.56rem 0.56rem;
}
header .more {
  background: url("images/more.png") no-repeat center center;
  background-size: 0.44rem 0.44rem;
}
header .menu {
  background: url("images/menu.png") no-repeat center center;
  background-size: 0.613333333333333rem 0.52rem;
}
header .pop-menu {
  width: 3.706666666666667rem;
  color: #fff;
  font-size: 0.373333333333333rem;
  font-family: "PingFang";
  line-height: 1rem;
  background-color: #19a6db;
  top: 1.533333333333333rem;
  right: 0.2rem;
  position: absolute;
  display: none;
}
header .pop-menu:before {
  width: 0;
  height: 0;
  border-left: 0.133333333333333rem solid transparent;
  border-right: 0.133333333333333rem solid transparent;
  border-bottom: 0.213333333333333rem solid #19a6db;
  display: block;
  content: "";
  position: absolute;
  top: -0.133333333333333rem;
  right: 0.533333333333333rem;
}
header .pop-menu .tag {
  background: url("images/tag.png") no-repeat 0.466666666666667rem center;
  background-size: 0.386666666666667rem 0.386666666666667rem;
}
header .pop-menu .user {
  background: url("images/user.png") no-repeat 0.466666666666667rem center;
  background-size: 0.4rem 0.4rem;
}
header .pop-menu .file {
  background: url("images/file.png") no-repeat 0.533333333333333rem center;
  background-size: 0.28rem 0.373333333333333rem;
}
header .pop-item {
  height: 1rem;
  border-bottom: 1px solid #0e95c8;
  display: block;
  color: #fff;
  padding: 0 0.4rem 0 1rem;
}
header .pop-item:active {
  background-color: #0b94c7;
}
header .pop-item:nth-child(3) {
  border-bottom: none;
}
.index-swiper {
  height: 4.4rem;
  margin-bottom: 0.2rem;
}
.index-swiper .swiper-slide img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.index-swiper .swiper-pagination-bullet {
  width: 0.133333333333333rem;
  height: 0.133333333333333rem;
}
.index-menu {
  background-color: #fff;
  margin-bottom: 0.2rem;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.index-menu .index-menu-item {
  float: left;
  width: 25%;
  box-sizing: border-box;
  height: 2.666666666666667rem;
  font-size: 0.373333333333333rem;
  position: relative;
  text-align: center;
  line-height: 3.466666666666667rem;
  color: #4e4e4e;
  border-right: 1px solid #e3e3e3;
}
.index-menu .index-menu-item:nth-child(4n+4) {
  border-right: none;
}
.index-menu .index-menu-item.border-b {
  border-bottom: 1px solid #e3e3e3;
}
.index-menu .index-menu-item:before {
  position: absolute;
  top: 0.666666666666667rem;
  height: 0.866666666666667rem;
  left: 0;
  width: 100%;
  content: "";
}
.index-menu .index-menu-item.company:before {
  background: url("images/company.png") no-repeat center center;
  background-size: 0.546666666666667rem 0.506666666666667rem;
}
.index-menu .index-menu-item.bond:before {
  background: url("images/bond.png") no-repeat center center;
  background-size: 0.84rem 0.493333333333333rem;
}
.index-menu .index-menu-item.fund:before {
  background: url("images/fund.png") no-repeat center center;
  background-size: 0.48rem 0.76rem;
}
.index-menu .index-menu-item.news:before {
  background: url("images/news.png") no-repeat center center;
  background-size: 0.773333333333333rem 0.546666666666667rem;
}
.index-menu .index-menu-item.member:before {
  background: url("images/member.png") no-repeat center center;
  background-size: 0.746666666666667rem 0.533333333333333rem;
}
.index-menu .index-menu-item.live:before {
  background: url("images/live.png") no-repeat center center;
  background-size: 0.586666666666667rem 0.413333333333333rem;
}
.index-menu .index-menu-item.product:before {
  background: url("images/product.png") no-repeat center center;
  background-size: 0.533333333333333rem 0.466666666666667rem;
}
.index-menu .index-menu-item.collect:before {
  background: url("images/collect.png") no-repeat center center;
  background-size: 0.546666666666667rem 0.506666666666667rem;
}
.index-channel {
  background-color: #fff;
  color: #333;
  font-size: 0.48rem;
  height: 1.24rem;
  line-height: 1.24rem;
  margin-bottom: 0.2rem;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding: 0 0.4rem 0 0.533333333333333rem;
  display: block;
}
.index-channel span {
  float: right;
  padding-right: 0.4rem;
  background: url("images/back.png") no-repeat right center;
  background-size: 0.213333333333333rem 0.4rem;
}
.index-bond-list {
  margin-bottom: 0.2rem;
}
.index-bond-item {
  margin-bottom: 0.2rem;
}
.index-bond-item {
  color: #333;
  background-color: #fff;
  padding: 0 0.4rem 0 0.533333333333333rem;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.index-bond-item .info {
  height: 1.333333333333333rem;
  padding: 0.466666666666667rem 0;
}
.index-bond-item .info-desc {
  height: 0.466666666666667rem;
  line-height: 0.466666666666667rem;
  font-size: 0.4rem;
}
.index-bond-item .info-title {
  height: 0.866666666666667rem;
  font-size: 0.373333333333333rem;
  font-family: "PingFang SC";
}
.index-bond-item .title {
  line-height: 1.28rem;
  font-size: 0.426666666666667rem;
  border-right: 1px solid #e3e3e3;
  width: 3.2rem;
  box-sizing: border-box;
  float: left;
}
.index-bond-item .income {
  float: left;
  width: 3.2rem;
  text-align: center;
}
.index-bond-item .income .info-title {
  font-size: 0.613333333333333rem;
  color: #f60;
  line-height: 0.666666666666667rem;
}
.index-bond-item .time {
  margin-left: 6.4rem;
}
.index-bond-item .time .info-title {
  text-indent: 0.08rem;
  line-height: 0.933333333333333rem;
}
.index-bond-item .desc {
  height: 1.04rem;
  line-height: 1.04rem;
  color: #b4b4b4;
  font-size: 0.373333333333333rem;
  border-top: 1px solid #e3e3e3;
}
footer {
  height: 1.6rem;
  background-color: #19a6db;
  font-size: 0.32rem;
  color: #fff;
  text-align: center;
  padding-top: 0.533333333333333rem;
}
footer div {
  height: 0.613333333333333rem;
  line-height: 0.613333333333333rem;
}
footer .company-tel {
  display: inline-block;
  background: url("images/tel.png") no-repeat left 0.066666666666667rem;
  background-size: 0.413333333333333rem 0.413333333333333rem;
  padding-left: 0.546666666666667rem;
}
.fixed-nav {
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.4rem;
  color: #666;
  text-align: center;
  background-color: #f9f9f9;
  margin-bottom: 0.2rem;
  position: relative;
  background-color: #fff;
  position: fixed;
  top: 1.173333333333333rem;
  left: 0;
  right: 0;
  z-index: 2;
}
.fixed-nav .nav-item {
  width: 25%;
  float: left;
}
.fixed-nav .nav-item .sort {
  display: inline-block;
  width: 0.173333333333333rem;
  height: 0.213333333333333rem;
  background-color: #f00;
  visibility: hidden;
  background: url("images/sort-down.png") no-repeat center center;
  background-size: 0.173333333333333rem 0.213333333333333rem;
}
.fixed-nav .nav-item.sel {
  color: #19a6db;
}
.fixed-nav .nav-item.sel .sort {
  visibility: visible;
}
.fixed-nav .nav-item.sel.up .sort {
  background-image: url("images/sort-up.png");
}
.fixed-nav .nav-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25%;
  height: 0;
  border-top: 2px solid #19a6db;
  transition: left 0.3s;
  -moz-transition: left 0.3s;
  -webkit-transition: left 0.3s;
  -o-transition: left 0.3s;
}
.bond-item {
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  background-color: #fff;
  margin-bottom: 0.2rem;
}
.bond-item .title {
  height: 0.853333333333333rem;
  line-height: 0.853333333333333rem;
  padding: 0.346666666666667rem 0.626666666666667rem 0 0.626666666666667rem;
  font-size: 0.373333333333333rem;
  color: #333;
  border-bottom: 1px solid #e3e3e3;
}
.bond-item .title > div {
  float: right;
}
.bond-item .info-list {
  padding: 0.346666666666667rem 0.626666666666667rem 0 0.626666666666667rem;
  color: #bdbdbd;
}
.bond-item .info-item {
  float: left;
  width: 33%;
  position: relative;
  text-align: center;
}
.bond-item .info-item.borr:after {
  position: absolute;
  right: 0;
  height: 0.933333333333333rem;
  top: 0.32rem;
  width: 0;
  border-right: 1px solid #e3e3e3;
  content: "";
}
.bond-item .info-item em {
  display: block;
  font-size: 0.373333333333333rem;
  color: #666;
  height: 0.693333333333333rem;
  line-height: 0.8rem;
}
.bond-item .info-item em.income {
  color: #f60;
  font-size: 0.533333333333333rem;
  line-height: 0.693333333333333rem;
}
.bond-item .info-item b {
  display: block;
  font-size: 0.36rem;
  margin-top: 0.213333333333333rem;
}
.bond-item .info-desc {
  margin: 0.546666666666667rem 0.626666666666667rem 0.6rem 0.626666666666667rem;
  background-color: #f2f2f2;
  padding: 0.333333333333333rem 0.6rem 0.333333333333333rem 0.4rem;
  color: #999;
  line-height: 0.533333333333333rem;
  font-size: 0.36rem;
}
.assets-info {
  background-image: -moz-linear-gradient(90deg, #0060bf 0%, #19a6db 99%);
  background-image: -webkit-linear-gradient(90deg, #0060bf 0%, #19a6db 99%);
  background-image: -ms-linear-gradient(90deg, #0060bf 0%, #19a6db 99%);
  height: 6.44rem;
  padding: 0 0.64rem;
  position: relative;
  color: #fff;
}
.assets-info .l1 {
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 0.4rem;
}
.assets-info .l2 {
  padding: 0 0.466666666666667rem;
  font-size: 0.426666666666667rem;
  height: 0.746666666666667rem;
  line-height: 0.746666666666667rem;
}
.assets-info .l3 {
  font-size: 0.373333333333333rem;
  height: 1.466666666666667rem;
  line-height: 1.466666666666667rem;
}
.assets-info .l4 {
  font-size: 0.373333333333333rem;
  height: 0.4rem;
  line-height: 0.4rem;
}
.assets-info .assets-income {
  background: rgba(255,255,255,0.102);
  height: 1.573333333333333rem;
  line-height: 1.573333333333333rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 0.6rem;
  font-size: 0.386666666666667rem;
}
.assets-info:after {
  content: "";
  height: 1.266666666666667rem;
  border-right: 2px solid rgba(255,255,255,0.502);
  position: absolute;
  top: 1.32rem;
  left: 50%;
}
.assets-btns {
  text-align: center;
  font-size: 0.466666666666667rem;
  color: #333;
  padding: 0.293333333333333rem 0;
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  letter-spacing: 0.053333333333333rem;
  background-color: #fff;
}
.assets-btns span {
  display: block;
  float: left;
  box-sizing: border-box;
  width: 50%;
  height: 0.96rem;
  line-height: 0.96rem;
  padding-left: 0.866666666666667rem;
}
.assets-btns .recharge {
  border-right: 1px solid #ccc;
  background: url("images/recharge.png") no-repeat 1.44rem center;
  background-size: 0.786666666666667rem 0.786666666666667rem;
}
.assets-btns .cash {
  background: url("images/cash.png") no-repeat 1.44rem center;
  background-size: 0.786666666666667rem 0.786666666666667rem;
}
.assets-link {
  color: #333;
}
.assets-link .title {
  height: 1.066666666666667rem;
  line-height: 1.066666666666667rem;
  background-color: #f2f2f2;
  padding: 0.266666666666667rem 0 0 0.6rem;
  font-size: 0.426666666666667rem;
}
.assets-link .list {
  padding: 0 0.6rem;
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  background-color: #fff;
}
.assets-link .list:last-child {
  margin-bottom: 1.333333333333333rem;
}
.assets-link .item {
  display: block;
  height: 1.4rem;
  line-height: 1.4rem;
  font-size: 0.373333333333333rem;
  border-bottom: 1px solid #e3e3e3;
  background: url("images/item-right.png") no-repeat right center;
  background-size: 0.226666666666667rem 0.36rem;
}
.assets-link .item:last-child {
  border-bottom: none;
}
.bond-info {
  text-align: center;
  background-color: #fff;
  padding: 0.453333333333333rem 0.6rem 0 0.6rem;
}
.bond-info .title {
  font-size: 0.426666666666667rem;
  color: #333;
  position: relative;
}
.bond-info .ui-collect {
  position: absolute;
  right: 0;
  top: 0;
}
.bond-info .ui-state {
  position: absolute;
  right: 0;
  top: 0;
}
.bond-info .income {
  font-size: 0.933333333333333rem;
  color: #f60;
  height: 1.333333333333333rem;
  line-height: 1.6rem;
}
.bond-info .income em {
  font-size: 0.533333333333333rem;
}
.bond-info .text {
  font-size: 0.346666666666667rem;
  color: #a7a7a7;
  height: 0.8rem;
  line-height: 0.8rem;
  position: relative;
}
.bond-info .text .bond-state {
  position: absolute;
  right: 0;
}
.bond-info .process {
  height: 0.093333333333333rem;
  background-color: #9fe0f9;
  border-radius: 0.04rem;
  position: relative;
  margin-top: 0.293333333333333rem;
}
.bond-info .process .done {
  position: absolute;
  left: 0;
  top: 0;
  height: 0.093333333333333rem;
  background-color: #19a6db;
  border-radius: 0.04rem;
}
.bond-info .process .info {
  border: 1px solid #ccc;
  background-color: #fff;
  position: absolute;
  top: -0.613333333333333rem;
  padding: 0 0.133333333333333rem;
  font-size: 0.28rem;
  color: #ccc;
  height: 0.453333333333333rem;
  line-height: 0.453333333333333rem;
  border-radius: 0.066666666666667rem;
  margin-left: -0.733333333333333rem;
}
.bond-info .process .info:after {
  content: "";
  position: absolute;
  width: 0.146666666666667rem;
  height: 0.106666666666667rem;
  left: 50%;
  margin-left: -0.066666666666667rem;
  bottom: -0.093333333333333rem;
  background: url("images/arraw.png") no-repeat right center;
  background-size: 100%;
}
.bond-info .desc {
  font-size: 0.36rem;
  color: #a7a7a7;
  height: 0.6rem;
  line-height: 0.6rem;
  padding: 0.306666666666667rem 0 0.8rem 0;
}
.bond-info .desc em {
  color: #f60;
  margin: 0 0.053333333333333rem;
}
.bond-info .desc div {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.bond-info .desc div:first-child {
  border-right: 1px solid #e3e3e3;
}
.bond-totle {
  height: 1.986666666666667rem;
  padding: 0.533333333333333rem 0.6rem 0 0.6rem;
  color: #999;
}
.bond-totle div {
  font-size: 0.36rem;
}
.bond-totle .orange {
  height: 1.066666666666667rem;
  line-height: 1.2rem;
}
.bond-text {
  background-color: #fff;
  padding: 0.333333333333333rem 0.6rem 0.773333333333333rem 0.6rem;
  font-size: 0.426666666666667rem;
  color: #a7a7a7;
}
.bond-text div {
  height: 1.133333333333333rem;
  line-height: 1.133333333333333rem;
}
.bond-text .right {
  color: #343434;
}
.bond-invest {
  background-color: #fff;
  padding: 0 0.6rem 0.8rem 0.6rem;
  margin-bottom: 0.2rem;
  border-bottom: 1px solid #e3e3e3;
}
.bond-invest .num-component {
  margin-top: 0.426666666666667rem;
}
.bond-invest .title {
  font-size: 0.426666666666667rem;
  color: #333;
  font-weight: bold;
}
.bond-invest .info {
  height: 1.146666666666667rem;
  line-height: 1.066666666666667rem;
  font-size: 0.373333333333333rem;
  color: #a7a7a7;
}
.bond-invest .desc {
  font-size: 0.373333333333333rem;
  color: #a7a7a7;
}
.bond-invest .desc li {
  height: 0.64rem;
  line-height: 0.64rem;
  list-style-type: disc;
  margin-left: 0.333333333333333rem;
}
.bond-invest .desc em {
  color: #333;
}
.bond-invest .ui-important-btn {
  margin-top: 0.24rem;
}
.bond-detail {
  background-color: #fff;
  padding-top: 0.32rem;
}
.bond-detail .tab {
  height: 0.96rem;
  line-height: 0.96rem;
  font-size: 0.426666666666667rem;
  color: #000;
  text-align: center;
  padding-bottom: 0.08rem;
}
.bond-detail .tab div {
  float: left;
  width: 50%;
  border-bottom: 1px solid #e3e3e3;
  box-sizing: border-box;
}
.bond-detail .tab .sel {
  color: #19a6db;
  border-bottom: 0.053333333333333rem solid #19a6db;
}
.bond-detail .content {
  height: 4rem;
  text-align: left;
  font-size: 0.426666666666667rem;
  display: none;
}
.news-list {
  background-color: #fff;
}
.news-item {
  text-align: left;
  padding: 0 0.6rem;
  display: block;
}
.news-item:active {
  background-color: #f2f2f2;
}
.news-item .box {
  padding: 0.44rem 0;
  border-bottom: 1px solid #e3e3e3;
  height: 1.52rem;
  background: url("images/news-right.png") no-repeat right center;
  background-size: 0.24rem 0.466666666666667rem;
}
.news-item .title {
  font-size: 0.426666666666667rem;
  color: #333;
  height: 0.8rem;
  line-height: 0.8rem;
}
.news-item .time {
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.373333333333333rem;
  color: #b4b4b4;
}
.news-item .time .level {
  display: inline-block;
  background-color: #f31212;
  border-radius: 0.04rem;
  height: 0.44rem;
  line-height: 0.44rem;
  color: #fff;
  position: relative;
  top: -0.053333333333333rem;
  font-size: 0.266666666666667rem;
  margin-left: 0.24rem;
  padding: 0 0.133333333333333rem;
}
.news-detail {
  background-color: #fff;
  padding: 0.6rem 0.6rem 1.066666666666667rem 0.6rem;
  margin-bottom: 0.2rem;
}
.news-detail .title {
  font-size: 0.426666666666667rem;
}
.news-detail .title span {
  font-size: 0.346666666666667rem;
  color: #b4b4b4;
  margin-left: 0.2rem;
}
.news-detail .content {
  font-size: 0.346666666666667rem;
  color: #4e4e4e;
  line-height: 0.6rem;
}
.news-detail .content p {
  margin-top: 0.6rem;
}
.news-files {
  background-color: #fff;
  padding: 0 0.6rem;
}
.news-files .title {
  height: 1.333333333333333rem;
  line-height: 1.333333333333333rem;
  font-size: 0.346666666666667rem;
  color: #4e4e4e;
  border-bottom: 1px solid #e3e3e3;
}
.news-files .file {
  font-size: 0.346666666666667rem;
  color: #19a6db;
  line-height: 1.333333333333333rem;
  height: 1.333333333333333rem;
  display: inline-block;
  padding: 0 0.333333333333333rem;
}
.news-files .box {
  margin-left: -0.333333333333333rem;
}
.collect-tab {
  height: 1.24rem;
  line-height: 1.24rem;
  margin-bottom: 0.2rem;
  border-bottom: 1px solid #e3e3e3;
  font-size: 0.466666666666667rem;
  color: #333;
  background-color: #fff;
  text-align: center;
}
.page-warper.question-page {
  background-color: #fff;
}
.question-item {
  padding: 0.4rem 0.6rem 0.266666666666667rem 0.6rem;
  line-height: 0.84rem;
  border-bottom: 1px solid #e3e3e3;
}
.question-item .title {
  font-size: 0.413333333333333rem;
  font-family: "Adobe Heiti Std";
  color: #333;
}
.question-item .item {
  font-size: 0.346666666666667rem;
  color: #4e4e4e;
}
.question-btn {
  padding: 0.613333333333333rem 0.6rem 1.226666666666667rem 0.6rem;
  background-color: #fff;
}
.about-logo {
  background: url("images/logo.png") no-repeat center 0.533333333333333rem;
  background-size: 3.28rem 1.253333333333333rem;
  text-align: center;
  height: 3.36rem;
  border-bottom: 1px solid #e3e3e3;
}
.about-logo div {
  padding-top: 2.266666666666667rem;
  font-size: 0.373333333333333rem;
  color: #333;
}
.about-info {
  background-color: #fff;
  font-size: 0.4rem;
  margin-bottom: 0.2rem;
}
.about-info .item {
  padding: 0 0.6rem;
  border-bottom: 1px solid #e3e3e3;
  color: #a7a7a7;
  height: 1.4rem;
  line-height: 1.4rem;
}
.about-info .item .right {
  font-family: "Adobe Heiti Std";
  color: #333;
  float: right;
}
.page-warper.trust-page {
  background-color: #fff;
}
.page-warper.trust-page .question-btn {
  padding-top: 1.24rem;
  padding-bottom: 0.8rem;
}
.trust-list {
  font-size: 0.373333333333333rem;
  background-color: #fff;
}
.trust-list .content.balance {
  color: #ababab;
}
.trust-list .content.cards {
  padding-left: 1.44rem;
  background: url("images/cards.png") no-repeat left center;
  background-size: 1.106666666666667rem 1.106666666666667rem;
}
.trust-list .content.link {
  position: relative;
}
.trust-list .content.link:after {
  content: "";
  position: absolute;
  right: 0;
  width: 0.226666666666667rem;
  top: 0;
  bottom: 0;
  background: url("images/item-right.png") no-repeat center center;
  background-size: 0.226666666666667rem 0.36rem;
}
.trust-list .item {
  height: 1.4rem;
  line-height: 1.4rem;
  border-bottom: 1px solid #e3e3e3;
}
.trust-list .box {
  padding: 0 0.6rem;
  height: 100%;
}
.trust-list .content {
  margin-left: 2.853333333333333rem;
  height: 100%;
}
.trust-list .left {
  width: 2.853333333333333rem;
  color: #333;
}
.trust-list input {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 0.373333333333333rem;
}
.trust-list .code img {
  width: 1.866666666666667rem;
  height: 0.933333333333333rem;
  margin-top: 0.226666666666667rem;
  margin-right: 0.293333333333333rem;
}
.trust-list .code span {
  color: #19a6db;
}
.trust-list .code .content {
  margin-left: 2.853333333333333rem;
  margin-right: 2.933333333333333rem;
  height: 100%;
}
.trust-list .msg-code .btn {
  color: #feffff;
  border-radius: 3px;
  background-color: #19a6db;
  width: 2.826666666666667rem;
  height: 0.946666666666667rem;
  line-height: 0.946666666666667rem;
  margin-top: 0.226666666666667rem;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #e3e3e3;
}
.trust-list .msg-code .btn.disabled {
  background-color: #8adbf9;
}
.trust-list .msg-code .content {
  margin-left: 2.853333333333333rem;
  margin-right: 2.933333333333333rem;
  height: 100%;
}
.fixed-confirm .confirm-info .text {
  margin-top: 0.293333333333333rem;
}
.fixed-confirm .confirm-info .income {
  height: 0.933333333333333rem;
  line-height: 0.933333333333333rem;
  padding-bottom: 0.56rem;
  border-bottom: 1px solid #e3e3e3;
}
.fixed-confirm .bond-text {
  font-size: 0.453333333333333rem;
  padding: 0.333333333333333rem 0.6rem 0.333333333333333rem 0.6rem;
  margin-bottom: 0.2rem;
}
.fixed-confirm .bond-text div {
  height: 1.066666666666667rem;
  line-height: 1.066666666666667rem;
}
.fixed-confirm .question-btn {
  padding-top: 1.226666666666667rem;
}
.setting-page .setting-logo {
  padding: 0.506666666666667rem 0 0.32rem 0;
  background-color: #fff;
}
.setting-page .about-info .item {
  padding-right: 1.253333333333333rem;
  position: relative;
}
.setting-page .about-info .item.link:after {
  content: "";
  position: absolute;
  right: 0.6rem;
  width: 0.226666666666667rem;
  top: 0;
  bottom: 0;
  background: url("images/item-right.png") no-repeat center center;
  background-size: 0.226666666666667rem 0.36rem;
}
.setting-page .question-btn {
  padding-top: 0.8rem;
}
.assets-query {
  background-color: #fff;
  padding: 0.266666666666667rem 0.6rem;
  margin-bottom: 0.2rem;
  font-size: 0.4rem;
  border-bottom: 1px solid #e3e3e3;
}
.assets-query .params {
  height: 1.226666666666667rem;
  line-height: 1.226666666666667rem;
}
.assets-query input {
  font-size: 0.4rem;
}
.assets-query .title {
  width: 1.866666666666667rem;
  text-align: justify;
  text-align-last: justify;
  color: #a7a7a7;
  float: left;
}
.assets-query .content {
  margin-left: 2.133333333333333rem;
  height: 100%;
  color: #333;
}
.assets-query .content .radio-warper {
  float: left;
  width: 50%;
}
.assets-query .params-name input {
  height: 0.893333333333333rem;
  width: 100%;
  border: 1px solid #e3e3e3;
  border-radius: 0.066666666666667rem;
  display: block;
  top: 0.186666666666667rem;
  position: relative;
  text-indent: 0.266666666666667rem;
}
.assets-query .params-time .content div {
  margin-left: 2.933333333333333rem;
  margin-right: 2.933333333333333rem;
  text-align: center;
}
.assets-query .params-time input {
  height: 0.893333333333333rem;
  width: 2.933333333333333rem;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #e3e3e3;
  border-radius: 0.066666666666667rem;
  display: block;
  top: 0.186666666666667rem;
  position: relative;
}
.assets-query .params-btn {
  padding: 0.4rem 0 0.2rem 0;
  background-color: #fff;
}
.assets-result {
  color: #a7a7a7;
  font-size: 0.4rem;
}
.assets-result .item {
  margin-bottom: 0.2rem;
  background-color: #fff;
  padding: 0 0.6rem;
  padding-bottom: 0.213333333333333rem;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.assets-result .title {
  color: #333;
  height: 1.28rem;
  line-height: 1.28rem;
  font-size: 0.346666666666667rem;
}
.assets-result .income {
  height: 0.426666666666667rem;
  line-height: 0.426666666666667rem;
}
.assets-result .income em {
  color: #f60;
}
.assets-result .time {
  height: 0.853333333333333rem;
  line-height: 0.853333333333333rem;
}
.assetsrec-page .question-btn {
  padding-top: 0.8rem;
}
.assetsrec-page .trust-list {
  font-size: 0.4rem;
}
