body {
  font-family: "PingFang", "Microsoft YaHei", "sans-serif";
  background-color: #f2f2f2;
}
.fixed-header > div {
  padding-top: 1.333333333333333rem;
}
.fixed-header header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
header {
  height: 1.333333333333333rem;
  line-height: 1.333333333333333rem;
  background-color: #19a6db;
  color: #fff;
  text-align: center;
}
header .title {
  font-size: 0.506666666666667rem;
  text-align: center;
}
header .left,
header .right {
  position: absolute;
  width: 1.066666666666667rem;
  height: 1.066666666666667rem;
  top: 0.133333333333333rem;
}
header .left:active,
header .right:active {
  background-color: #0b94c7;
}
header .left {
  left: 0.333333333333333rem;
}
header .right {
  right: 0.333333333333333rem;
}
header .back {
  background: url("images/back2.png") no-repeat center center;
  background-size: 0.306666666666667rem 0.56rem;
}
header .more {
  background: url("images/more.png") no-repeat center center;
  background-size: 0.44rem 0.44rem;
}
header .menu {
  background: url("images/menu.png") no-repeat center center;
  background-size: 0.613333333333333rem 0.52rem;
}
header .pop-menu {
  width: 3.706666666666667rem;
  color: #fff;
  font-size: 0.373333333333333rem;
  font-family: "PingFang";
  line-height: 1rem;
  background-color: #19a6db;
  top: 1.533333333333333rem;
  right: 0.2rem;
  position: absolute;
  display: none;
}
header .pop-menu:before {
  width: 0;
  height: 0;
  border-left: 0.133333333333333rem solid transparent;
  border-right: 0.133333333333333rem solid transparent;
  border-bottom: 0.213333333333333rem solid #19a6db;
  display: block;
  content: "";
  position: absolute;
  top: -0.133333333333333rem;
  right: 0.533333333333333rem;
}
header .pop-menu .tag {
  background: url("images/tag.png") no-repeat 0.466666666666667rem center;
  background-size: 0.386666666666667rem 0.386666666666667rem;
}
header .pop-menu .user {
  background: url("images/user.png") no-repeat 0.466666666666667rem center;
  background-size: 0.4rem 0.4rem;
}
header .pop-menu .file {
  background: url("images/file.png") no-repeat 0.533333333333333rem center;
  background-size: 0.28rem 0.373333333333333rem;
}
header .pop-item {
  height: 1rem;
  border-bottom: 1px solid #0e95c8;
  display: block;
  color: #fff;
  padding: 0 0.4rem 0 1rem;
}
header .pop-item:active {
  background-color: #0b94c7;
}
header .pop-item:nth-child(3) {
  border-bottom: none;
}
.index-swiper {
  height: 4.4rem;
  margin-bottom: 0.2rem;
}
.index-swiper .swiper-slide img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.index-menu {
  background-color: #fff;
  margin-bottom: 0.2rem;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.index-menu .index-menu-item {
  float: left;
  width: 25%;
  box-sizing: border-box;
  height: 2.666666666666667rem;
  font-size: 0.373333333333333rem;
  position: relative;
  text-align: center;
  line-height: 3.466666666666667rem;
  color: #4e4e4e;
  border-right: 1px solid #e3e3e3;
}
.index-menu .index-menu-item:nth-child(4n+4) {
  border-right: none;
}
.index-menu .index-menu-item.border-b {
  border-bottom: 1px solid #e3e3e3;
}
.index-menu .index-menu-item:before {
  position: absolute;
  top: 0.666666666666667rem;
  height: 0.866666666666667rem;
  left: 0;
  width: 100%;
  content: "";
}
.index-menu .index-menu-item.company:before {
  background: url("images/company.png") no-repeat center center;
  background-size: 0.546666666666667rem 0.506666666666667rem;
}
.index-menu .index-menu-item.bond:before {
  background: url("images/bond.png") no-repeat center center;
  background-size: 0.84rem 0.493333333333333rem;
}
.index-menu .index-menu-item.fund:before {
  background: url("images/fund.png") no-repeat center center;
  background-size: 0.48rem 0.76rem;
}
.index-menu .index-menu-item.news:before {
  background: url("images/news.png") no-repeat center center;
  background-size: 0.773333333333333rem 0.546666666666667rem;
}
.index-menu .index-menu-item.member:before {
  background: url("images/member.png") no-repeat center center;
  background-size: 0.746666666666667rem 0.533333333333333rem;
}
.index-menu .index-menu-item.live:before {
  background: url("images/live.png") no-repeat center center;
  background-size: 0.586666666666667rem 0.413333333333333rem;
}
.index-menu .index-menu-item.product:before {
  background: url("images/product.png") no-repeat center center;
  background-size: 0.533333333333333rem 0.466666666666667rem;
}
.index-menu .index-menu-item.collect:before {
  background: url("images/collect.png") no-repeat center center;
  background-size: 0.546666666666667rem 0.506666666666667rem;
}
.index-channel {
  background-color: #fff;
  color: #333;
  font-size: 0.48rem;
  height: 1.24rem;
  line-height: 1.24rem;
  margin-bottom: 0.2rem;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding: 0 0.4rem 0 0.533333333333333rem;
  display: block;
}
.index-channel span {
  float: right;
  padding-right: 0.4rem;
  background: url("images/back.png") no-repeat right center;
  background-size: 0.213333333333333rem 0.4rem;
}
.index-bond-list {
  margin-bottom: 0.2rem;
}
.index-bond-item {
  margin-bottom: 0.2rem;
}
.index-bond-item {
  color: #333;
  background-color: #fff;
  padding: 0 0.4rem 0 0.533333333333333rem;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.index-bond-item .info {
  height: 1.333333333333333rem;
  padding: 0.466666666666667rem 0;
}
.index-bond-item .info-desc {
  height: 0.466666666666667rem;
  line-height: 0.466666666666667rem;
  font-size: 0.4rem;
}
.index-bond-item .info-title {
  height: 0.866666666666667rem;
  font-size: 0.373333333333333rem;
  font-family: "PingFang SC";
}
.index-bond-item .title {
  line-height: 1.28rem;
  font-size: 0.426666666666667rem;
  border-right: 1px solid #e3e3e3;
  width: 3.2rem;
  box-sizing: border-box;
  float: left;
}
.index-bond-item .income {
  float: left;
  width: 3.2rem;
  text-align: center;
}
.index-bond-item .income .info-title {
  font-size: 0.613333333333333rem;
  color: #f60;
  line-height: 0.666666666666667rem;
}
.index-bond-item .time {
  margin-left: 6.4rem;
}
.index-bond-item .time .info-title {
  text-indent: 0.08rem;
  line-height: 0.933333333333333rem;
}
.index-bond-item .desc {
  height: 1.04rem;
  line-height: 1.04rem;
  color: #b4b4b4;
  font-size: 0.373333333333333rem;
  border-top: 1px solid #e3e3e3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
footer {
  height: 1.6rem;
  background-color: #19a6db;
  font-size: 0.32rem;
  color: #fff;
  text-align: center;
  padding-top: 0.533333333333333rem;
}
footer div {
  height: 0.613333333333333rem;
  line-height: 0.613333333333333rem;
}
footer .company-tel {
  display: inline-block;
  background: url("images/tel.png") no-repeat left 0.066666666666667rem;
  background-size: 0.413333333333333rem 0.413333333333333rem;
  padding-left: 0.546666666666667rem;
}
.fixed-nav {
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.4rem;
  color: #666;
  text-align: center;
  background-color: #f9f9f9;
  margin-bottom: 0.2rem;
  position: relative;
}
.fixed-nav .nav-item {
  width: 25%;
  float: left;
}
.fixed-nav .sel {
  color: #19a6db;
}
.fixed-nav .nav-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25%;
  height: 0;
  border-top: 2px solid #19a6db;
  transition: left 0.3s;
  -moz-transition: left 0.3s;
  -webkit-transition: left 0.3s;
  -o-transition: left 0.3s;
}
.bond-item {
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  background-color: #fff;
  margin-bottom: 0.2rem;
}
.bond-item .title {
  height: 0.853333333333333rem;
  line-height: 0.853333333333333rem;
  padding: 0.346666666666667rem 0.626666666666667rem 0 0.626666666666667rem;
  font-size: 0.373333333333333rem;
  color: #333;
  border-bottom: 1px solid #e3e3e3;
}
.bond-item .title > div {
  float: right;
}
.bond-item .title .type {
  font-size: 0.32rem;
  border-radius: 0.253333333333333rem;
  background-color: #1bc854;
  width: 1.453333333333333rem;
  height: 0.533333333333333rem;
  line-height: 0.533333333333333rem;
  text-align: center;
  color: #fff;
  margin-top: 0.16rem;
}
.bond-item .title .collect {
  padding-left: 0.706666666666667rem;
  background: url("images/heart2.png") no-repeat 0.16rem center;
  background-size: 0.386666666666667rem 0.346666666666667rem;
  color: #a7a7a7;
  margin-left: 0.186666666666667rem;
}
.bond-item .title .collect.sel {
  background: url("images/heart2-h.png") no-repeat 0.16rem center;
  background-size: 0.386666666666667rem 0.346666666666667rem;
}
.bond-item .info-list {
  padding: 0.346666666666667rem 0.626666666666667rem 0 0.626666666666667rem;
  color: #bdbdbd;
}
.bond-item .info-item {
  float: left;
  width: 33%;
  position: relative;
  text-align: center;
}
.bond-item .info-item.borr:after {
  position: absolute;
  right: 0;
  height: 0.933333333333333rem;
  top: 0.32rem;
  width: 0;
  border-right: 1px solid #e3e3e3;
  content: "";
}
.bond-item .info-item em {
  display: block;
  font-size: 0.373333333333333rem;
  color: #666;
  height: 0.693333333333333rem;
  line-height: 0.8rem;
}
.bond-item .info-item em.income {
  color: #f60;
  font-size: 0.533333333333333rem;
  line-height: 0.693333333333333rem;
}
.bond-item .info-item b {
  display: block;
  font-size: 0.36rem;
  margin-top: 0.213333333333333rem;
}
.bond-item .info-desc {
  margin: 0.546666666666667rem 0.626666666666667rem 0.6rem 0.626666666666667rem;
  background-color: #f2f2f2;
  padding: 0.293333333333333rem 0.6rem 0.306666666666667rem 0.4rem;
  color: #999;
  line-height: 0.533333333333333rem;
  font-size: 0.36rem;
}
.assets-page .left {
  float: left;
}
.assets-page .right {
  float: right;
}
.assets-info {
  background-image: -moz-linear-gradient(90deg, #0060bf 0%, #19a6db 99%);
  background-image: -webkit-linear-gradient(90deg, #0060bf 0%, #19a6db 99%);
  background-image: -ms-linear-gradient(90deg, #0060bf 0%, #19a6db 99%);
  height: 6.44rem;
  padding: 0 0.64rem;
  position: relative;
  color: #fff;
}
.assets-info .l1 {
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 0.4rem;
}
.assets-info .l2 {
  padding: 0 0.466666666666667rem;
  font-size: 0.426666666666667rem;
  height: 0.746666666666667rem;
  line-height: 0.746666666666667rem;
}
.assets-info .l3 {
  font-size: 0.373333333333333rem;
  height: 1.466666666666667rem;
  line-height: 1.466666666666667rem;
}
.assets-info .l4 {
  font-size: 0.373333333333333rem;
  height: 0.4rem;
  line-height: 0.4rem;
}
.assets-info .assets-income {
  background: rgba(255,255,255,0.102);
  height: 1.573333333333333rem;
  line-height: 1.573333333333333rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 0.6rem;
  font-size: 0.386666666666667rem;
}
.assets-info:after {
  content: "";
  height: 1.266666666666667rem;
  border-right: 2px solid rgba(255,255,255,0.502);
  position: absolute;
  top: 1.32rem;
  left: 50%;
}
.assets-btns {
  text-align: center;
  font-size: 0.466666666666667rem;
  color: #333;
  font-weight: bold;
  padding: 0.293333333333333rem 0;
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  letter-spacing: 0.053333333333333rem;
  background-color: #fff;
}
.assets-btns span {
  display: block;
  float: left;
  box-sizing: border-box;
  width: 50%;
  height: 0.96rem;
  line-height: 0.96rem;
  padding-left: 0.866666666666667rem;
}
.assets-btns .recharge {
  border-right: 1px solid #ccc;
  background: url("images/recharge.png") no-repeat 1.44rem center;
  background-size: 0.786666666666667rem 0.786666666666667rem;
}
.assets-btns .cash {
  background: url("images/cash.png") no-repeat 1.44rem center;
  background-size: 0.786666666666667rem 0.786666666666667rem;
}
.assets-link {
  color: #333;
}
.assets-link .title {
  height: 1.066666666666667rem;
  line-height: 1.066666666666667rem;
  background-color: rga(242, 242, 242);
  padding: 0.266666666666667rem 0 0 0.6rem;
  font-size: 0.373333333333333rem;
  font-weight: bold;
}
.assets-link .list {
  padding: 0 0.6rem;
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  background-color: #fff;
}
.assets-link .list:last-child {
  margin-bottom: 1.333333333333333rem;
}
.assets-link .item {
  height: 1.4rem;
  line-height: 1.4rem;
  font-size: 0.373333333333333rem;
  border-bottom: 1px solid #e3e3e3;
  background: url("images/item-right.png") no-repeat right center;
  background-size: 0.226666666666667rem 0.36rem;
}
.assets-link .item:last-child {
  border-bottom: none;
}
