doctype html
html
    head(lang="en")
        meta(charset="UTF-8")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(content="telphone=no", name="format-detection")
        link(rel="stylesheet", href="../../src/css/base.css")
        link(rel="stylesheet", href="../../src/css/index.css")
        script(src="../../src/js/flexible.js")
    body.fixed-header
        .setting-page.page-warper
            header
                a.left.back
                .title 设置
            section.setting-logo
                img.ui-logo(src="../../src/css/images/face.png")
            section.about-info
                .item.link 姓名
                    .right 花以小默
                .item.link 客户号
                    .right 2165879
                .item.link 手机号
                    .right 15956657841
                .item 上次登录时间
                    .right 2016-08-25
            section.about-info
                .item 绑定银行卡
                    .right 中国银行 (5610)
                .item.link 风险等级
                    .right 高
                .item.link 登录密码
                    .right ●●●●●●
                .item.link 交易密码
                    .right ●●●●●●
script(src="../../src/js/jquery-3.1.0.min.js")
script(src="../../src/module/common.js")
script(src="../../src/module/p/fixed/index.js")
           