doctype html
html
    head(lang="en")
        meta(charset="UTF-8")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(content="telphone=no", name="format-detection")
        link(rel="stylesheet", href="../../src/css/base.css")
        link(rel="stylesheet", href="../../src/css/index.css")
        script(src="../../src/js/flexible.js")
    body.fixed-header
        .about-page.page-warper
            header
                a.left.back
                .title 关于我们
            section.about-logo
                div 苏州股权交易中心V1.1
            section.about-info
                .item 官方网站
                    .right www.suzotc.com
                .item 微信号
                    .right 65478849
                .item 邮箱
                    .right suzotc.126.com
                .item 开户咨询
                    .right 0512-65478849
                .item 挂牌咨询
                    .right 0512-65478849
                .item 融资咨询
                    .right 0512-65478849
                .item 会员咨询
                    .right 0512-65478849
script(src="../../src/js/jquery-3.1.0.min.js")
script(src="../../src/module/common.js")

           