doctype html
html
    head(lang="en")
        meta(charset="UTF-8")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(content="telphone=no", name="format-detection")
        link(rel="stylesheet", href="../../src/css/base.css")
        link(rel="stylesheet", href="../../src/css/index.css")
        script(src="../../src/js/flexible.js")
    body.fixed-header
        .assets-page.page-warper
            header
                a.left.back
                .title 资产中心
            section.assets-info
                .l1
                    .left 累计总收益(元)
                    .right 累计待收益(元)
                .l2.clearfix
                    .left 3025.00
                    .right 25.00
                .l3.clearfix
                    .left 我的总资产(元）
                    .right 18.00元
                .l4.clearfix
                    .left 可取资金(元）
                    .right 18.00元
                .assets-income
                    .left 昨日收益(元）
                    .right 1254.00元
            section.assets-btns.clearfix
                span.recharge 充值
                span.cash 提现
            section.assets-link
                .title 我的投资
                .list
                    a.item(href="list.html") 投资列表
                    .item 当日委托
                    .item 已获收益
                    .item 固定收益资产
                .title 资金管理
                .list
                    .item 充值
                    .item 提现
                    .item 转账记录
                    .item 资金变动记录
        script(src="../../src/js/jquery-3.1.0.min.js")
        script(src="../../src/module/common.js")
           